.App {
  text-align: center;
}

.pokegallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 100px;
}

.pokemon-card h3 {
  margin: 10px 0;
}

.pokemon-card p {
  font-style: italic;
}
